body{
    margin: 0;
}

.pai{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.mae{
    height: 70%;
    width: 100%;
}

.mae {
    margin: 0px 10px 0px 0px;
}

.mae .letra-a, .letra-b, .letra-c, .letra-d, .letra-e, .letra-f, .letra-g, .letra-h, .letra-i, .letra-j, .letra-k, .letra-l,
.letra-m, .letra-n, .letra-o, .letra-p, .letra-q{
    align-items: center;
    justify-content: center;
}

.selectzinho{
    margin-left: 100px;
    height: 200px;
    width: 400px;
    border-radius: 10%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: cornflowerblue;
    background-color: cornsilk;
} 

.selectzinho select{
    margin-top: 10px;
    margin-left: 10px;
    text-transform: capitalize;
}


.filho input{
    height: 20px;
    width: 20px;
    text-align: center;
}

.letra-a, .letra-b, .letra-c, .letra-d, .letra-e, .letra-f, .letra-g, .letra-h, .letra-i, .letra-j, .letra-k, .letra-l,
.letra-m, .letra-n, .letra-o, .letra-p, .letra-q {
    display: flex;
}

#input-preto{
    background-color: black;
    border-color:  black;
}

#input-cinza{
    background-color: gray;
    border-color: gray;
}

#input-rosa{
    background-color: pink;
    border-color: pink;
}

